/* FUNDO GERAL */
.contact-page {
  min-height: 100vh;
  background: linear-gradient(135deg, #0f2f25, #164a3a);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* CARD CENTRAL */
.contact-card {
  background: white;
  padding: 50px 40px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 20px 40px rgba(0,0,0,0.2);
  max-width: 400px;
  width: 100%;
}

/* TEXTO */
.contact-card h1 {
  margin-bottom: 10px;
  color: #0f2f25;
}

.contact-card p {
  color: #555;
}

/* BOTÕES */
.contact-buttons {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.btn-contact {
  background: #164a3a;
  color: white;
  padding: 12px;
  border-radius: 25px;
  text-decoration: none;
  font-weight: 600;
  transition: 0.3s;
}

.btn-contact:hover {
  background: #0f2f25;
}