.plans {
  padding: 100px 5%;
  background: linear-gradient(to bottom, #f8fafc, #eef2f7);
  text-align: center;
}

.plans h2 {
  font-size: 32px;
  margin-bottom: 60px;
}

.plans h2 span {
  font-weight: bold;
  color: #0a3d62;
}

.plans-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

/* CARD BASE */
.card {
  background: #ffffff;
  border-radius: 20px;
  padding: 35px 25px;
  width: 100%;
  max-width: 340px;
  box-shadow: 
    0 10px 25px rgba(0,0,0,0.05),
    0 5px 10px rgba(0,0,0,0.03);
  text-align: left;
  transition: 0.3s ease;
  border: 1px solid #edf2f7;
}

.card:hover {
  transform: translateY(-10px);
}

.card h3 {
  font-size: 22px;
  margin-bottom: 15px;
  color: #0a3d62;
}

.description {
  font-size: 14px;
  color: #555;
  margin-bottom: 30px;
}

/* PREÇO */
.price {
  display: flex;
  align-items: baseline;
  gap: 8px;
  margin-bottom: 30px;
}

.price span {
  font-size: 16px;
}

.price h1 {
  font-size: 56px;
  margin: 0;
}

.price p {
  font-size: 14px;
  color: #555;
}

/* BOTÃO */
.card button {
  width: 100%;
  padding: 14px;
  border-radius: 30px;
  border: none;
  background: linear-gradient(135deg, #1e73e8, #0a3d62);
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.card button:hover {
  opacity: 0.9;
}
/* CARD DESTAQUE */
.featured {
  background: #0a3d62;
  color: white;
  transform: scale(1.05);
}

.featured h3,
.featured .description,
.featured .price p {
  color: white;
}

.featured button {
  background: #1e73e8;
}

.badge {
  position: absolute;
  top: -15px;
  left: 50%;
  transform: translateX(-50%);
  background: white;
  color: #0a3d62;
  padding: 5px 15px;
  border-radius: 20px;
  font-size: 12px;
  font-weight: bold;
}

/* RESPONSIVO */
@media (max-width: 900px) {
  .plans-container {
    flex-direction: column;
    align-items: center;
  }

  .featured {
    transform: scale(1);
  }

  .destaque-maior {
    width: 320px;
    transform: scale(1);
  }
}

.destaque-maior {
    background: linear-gradient(135deg, #0a1d2c, #253541);
    color: white;
    width: 380px;
    transform: scale(1.08);
    z-index: 2;
}

/* ========================= */
/* 📱 MOBILE REAL (até 768px) */
/* ========================= */
@media (max-width: 768px) {

  .plans{
    padding: 50px 20px;
  }
  
   .plans-container {
    flex-direction: column;
    gap: 20px;
  }

  .card {
    width: 100%;
    padding: 25px 20px;
  }

  .price h1 {
    font-size: 38px;
  }

  .featured,
  .destaque-maior {
    transform: none;
    width: 100%;
  }
}

.installments {
  font-size: 13px;
  color: #6b7280; /* cinza mais elegante */
  margin-bottom: 20px;
}